@import 'theme/_layout';

html, body {
	background-color: #000;
}

.App {
	display: block;
}
.content {
	display: flex;
	justify-content: space-between;
	margin: -$gif-spacing auto 0 auto;
	max-width: 1040px;
}
.gif-column {
	flex-basis: calc(25% - 0.75 * #{$gif-spacing});
}
.gif-cell {
	background-color: #333;
	margin-top: $gif-spacing;
}
@media (max-width: 800px) {
	.content {
		flex-wrap: wrap;
	}
	.gif-column {
		flex-basis: calc(50% - 0.5 * #{$gif-spacing});
	}
}
@media (max-width: 500px) {
	.gif-column {
		flex-basis: 100%;
	}
}